{{ define "main" }}

<section class="section gallery">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold">{{.Title}}</h1>
      </div>
      {{ range (where .Site.RegularPages "Section" "products") }}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="block"> 
          <img class="img-fluid" src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" alt="{{.Title}}">
        </div>
        <div class="product-info">
        <h4 class="mb-2">{{.Title}}</h4> 
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}